# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.*
!.env.example

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Logs
*.log

# Go
bin/
dist/

# Node
node_modules/

# Coverage
coverage/

# Secrets
*.pem
*.key
